html {
	background-color: #ddd;
	height: 100%;
}

span#main-content {
	display:none;
}

div.block div.header {
	background-color: black;
	border-color: none;
   	border-width: 0;
	border-style: none;
}

.block .header h2 {
	color: #bbb;
}

div.block {
	background-image: none;
	border-top-width: 0;
	margin-bottom : 0;
}

div.region-content {
	border-radius : 0;
	overflow : hidden;
	margin-top : 0;
}

div.block div.content {
	background-color: #2f2f2f;
	border-color: none;
   	border-width: 0;
	border-style: none;
}

.block div.content a {
	color: #eee;
}

.block div.content a:visited {
	color: #ccc;
}

div.content .tree_item span {
	color: #eee;
}

li.depth_3 {
	background-color: #4e4e4e;
	padding: 2px 5px !important;
	padding-right: 10px !important;
}

li.depth_3:first-child {
	border-radius: 10px 10px 0 0;
}

li.depth_3:last-child {
	margin-bottom: 5px;
	border-radius: 0 0 10px 10px;
}

li.depth_4 {
	background-color: grey;
	padding: 2px 5px !important;
	margin-left: 5px;
}

li.depth_4:first-child {
	border-radius: 5px 5px 0 0;
}

li.depth_4:last-child {
	margin-bottom: 8px;
	border-radius: 0 0 5px 5px;
}

h2.headingblock {
	display :none;
}

.path-course-view .course-content li.section .main {
	background-color: white;
}

.course-content ul.weeks li.section {
	background-color: white;
	margin: 0 0 25px 0;
	border-radius: 20px;
	border-width: 0 0 5px 0 !important;
	border-color: #bbb !important;
	overflow:hidden;
}
.course-content ul.weeks li.section .content {
	margin: 0;	
}

div.mod-indent {
	padding: 5px 30px;
}

ul.section {
	padding-bottom: 30px !important;
}

div.navbar {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

div.navbar input[type="submit"] {
	background-color: tomato;
	border-color: maroon;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-radius: 5pc;
	padding: 5px 20px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

div.navbar input[type="submit"]:hover {
	background-color: maroon;
}

ul#page-navigation {
	display: none;
}

div.side {
	display:none;
}

.course-content ul.weeks li.section div.content {
	padding: 0 !important;
}

.path-course-view .section .content .weekdates {
    color: #c5c5c5;
    text-align: center;
    padding: 5px;
    background-color: #2f2f2f;
    margin-bottom: 0;
}
.section .content .no-overflow {
	overflow: hidden !important;
}

#page-content #region-main {
	padding : 0 40px;
}

.skip-block-to {
	display : none;
}

#page-content #region-main-box .region-content {
	padding : 0;
}

li.modtype_url img {
	padding-left: 32px;
   	width: 32px !important;
    	height: 32px !important;
    	box-sizing: border-box;
    	background: url(https://cdn.rawgit.com/yusrilMuh/style-H7/2bb5e233/png/001-apple.png) no-repeat;
    	transform: translateY(-15%);
    	margin-right: 10px;
}

div.mod-indent span {
	font-family: Montserrat;
    font-size: 1.2em;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    white-space: nowrap;
    color: darkolivegreen;
}

div.mod-indent {
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid #bbb;
}

div.overflow {
	margin-bottom : 20px !important;
}

#page-content #region-post-box {
	padding-top : 0;
}

#page-content-wrapper {
	margin : 0;
}

#page-content #region-pre {
	width : 18vw;
}

.side-pre-only #page-content #region-main {
	margin-left: 18vw;
}

#page-content #region-main {
	padding : 4% 5%;
}

.side-pre-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main {
	padding-right : 5%;
}

#page-header {
	background: none;
	background: black;
	height : 70px;
}

div.navbar {
	height: 30px;
}

#page-content #region-pre .region-content {
	height : calc(100vh - 120px);
    overflow-y: scroll;
}

.sticky {
	position : fixed;
	top : 0;
	left : 0;
	height : 100vh !important;
	width : 18vw;
}

#page-header-wrapper {
    margin: 0 4vw;
    height: inherit;
}

#page-header .headermain {
    margin: 0;
    font-size: 2em;
    font-family: Montserrat;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logininfo a {
    color: white;
    font-family: "Open Sans";
    font-weight: 500;
    padding: 10px 18px;
    background-color: tomato;
    margin: 0 5px;
    border-radius: 20px;
}

.headermenu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
